<script>

function createIE(){

    const newDiv = document.createElement("div");

    newDiv.classList.add('ie-popup')

    const newContent = document.createElement('p')
    newContent.innerHTML = "We recommend updating to one of the below options so that you can experience our website - along with the rest of the internet - in it's full glory.<br/><br/><a href='https://www.mozilla.org/en-US/firefox/new/' target='_blank'>Get Firefox</a><a href='https://www.google.com/chrome/' target='_blank'>Get Google Chrome</a>"

    newDiv.appendChild(newContent);

    document.body.appendChild(newDiv);

}

    if (/MSIE 10/i.test(navigator.userAgent)) {
        // This is internet explorer 10
        createIE()
     }
     
     if (/MSIE 9/i.test(navigator.userAgent) || /rv:11.0/i.test(navigator.userAgent)) {
         // This is internet explorer 9 or 11
         createIE()
     }
     
     if (/Edge\/\d./i.test(navigator.userAgent)){
        // This is Microsoft Edge
        createIE()
     }

</script>