{{ define "main" }}
<div class="clicker">


      <div class="slider" data-images='["/image-1.jpg","/image-2.jpg","/image-3.jpg"]'>

        <div class="slider__canvas"></div>

        <div class="slider__titles">

          <div class="slider__title">
            <h2 class="lyrics">You can feel it on the streets, on a day like this, the <span class="blotter"><span class="blotter__inner">heat</span></span>It feels like summer.</h2>
            <h3 class="spacing text-uppercase">Childish Gambino</h3>
          </div>
        </div>

			</div>


</div>
{{ end }}
