{{ define "main" }}
<div class="clicker">


      <div class="slider" data-images='["/image-1.jpg","/image-2.jpg","/image-3.jpg", "/image-2.jpg"]'>

        <div class="slider__canvas"></div>

        <div class="slider__titles">

          {{ $.Scratch.Set "index" 0 }}
          {{ range .Site.Data.lyrics.lyrics }}
            <div class='slider__title{{if eq ($.Scratch.Get "index") 0 }} slider__title--current{{end}}'>
              <h2 class="lyrics">{{ .before }}<span class="blotter"><span class="blotter__inner">{{ .blotter }}</span></span>{{ .after }}</h2>
              <h3 class="spacing text-uppercase">{{ .credit }}</h3>
            </div>
            {{ $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) }}
          {{ end }}

        </div>

			</div>


</div>
{{ end }}
