/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

$dark-grey:#333333;
$med-grey:#989898;
$light-grey:#e9e9e9;
$white: #fff;
$black: #000;

$colour-light-red: #DD4E34;
$colour-dark-red: #A2240C;
$colour-text-yellow: #F5E59F;
$colour-text-red: $colour-dark-red;
$colour-text-blue: #39619C;
$colour-text-orange: #FF6B00;
$colour-burnt-orange: #FFB700;
$colour-l-blue: #8EBDE4;
$colour-salmon: #EDAFA8;
$colour-green: #8ADDB0;
$colour-bb-blue: #00B2BA;

$colour-font-default: $black;

$font-default: 'Karla', sans-serif;
$font-serif: 'Italiana', serif;
$font-block: 'Days One', sans-serif;