/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

$dark-grey: #333333;
$med-grey: #989898;
$light-grey: #e9e9e9;
$off-white: #f8f6ec;
$white: #fff;
$black: #000;

$colour-light-red: #dd4e34;
$colour-dark-red: #a2240c;
$colour-text-yellow: #fffb00;
$colour-text-yellow-alt: #fee852;
$colour-text-lime: #ccff00;
$colour-text-red: $colour-dark-red;
$colour-text-blue: #39619c;
$colour-text-orange: #ff6b00;
$colour-burnt-orange: #ffb700;
$colour-l-blue: #8ebde4;
$colour-salmon: #edafa8;
$colour-green: #8addb0;
$colour-bb-blue: #00b2ba;

$colour-font-default: $black;

$font-default: "Karla", sans-serif;
$font-serif: "Italiana", serif;
$font-block: "Days One", sans-serif;
